/*  Fonts */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); 
  }

:root{
    --color-primery-dark:#31261A;
    --color-primery-ligt: #FAF4EA;
    --color-secondary-dark: #A18268;
    --color-brand-dark:#465929;
    --color-brand-normal:#819B57;
    --color-brand-light: #CFCFBC;
}
/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    color: var(--color-primery-dark);
    background-color: var(--color-primery-ligt);
    font-family: 'poppins' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
address {
    font-style: normal;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1 ,h2, h3,h4, h5, h6,p {
    margin-top: 0 ;
}
a {
    display: inline-block;
}

.section {
    padding: 48px 0;
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 14px;
}
/* Button */
.button{
    padding: 16px 32px;
    color: var(--color-primery-ligt);
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--color-brand-normal);
    background-color:var(--color-brand-normal);
    cursor: pointer;
}
.button:hover{
     color: var(--color-brand-dark);
     background-color: transparent;
}
/* Link */
.link{
    color:var(--color-primery-ligt);
    text-decoration: none;
    transition: color 0.3s;
}
.link:hover{
    color:var(--color-brand-normal);
}
/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
/* Hero section */
.hero-section {
    padding: 272px 0 ;
    background-image: linear-gradient(103deg,
     rgba(18, 18, 17, 0.78) 2.03%, 
     rgba(18, 18, 17, 0.60) 58.46%,
    rgba(18, 18, 17, 0.00) 90.36%),
    url('../imeges/Hero-section\ -background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.hero-title{
    margin-bottom: 0;
    color:var(--color-primery-ligt);
    text-align: center;
    font-size: 128px;
    font-weight: 900;   
}
.hero-title .accent{
    color:var(--color-brand-normal);
}
/* Advantages section */
.advantages-section {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item {
    color:var(--color-primery-ligt);
    background-color:var(--color-brand-normal);
    font-size: 20px;
    font-weight: 300;
}
.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title.centered {
    text-align: center;
}
.section-title .accent{
    color:var(--color-brand-dark);
}
/* Traditions section */

.traditions-section {
    padding-top: 96px;
}
.traditions-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.tradition-titel {
    margin-bottom: 42px;
}
.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}
.traditions-text .uppercase {
   text-transform: uppercase;
}
.traditions-text.limited {
    max-width: 330px;
}
.traditions-content {
    max-width: 710px;
}

/* Cheft section*/

.chef-title{
    position: relative;
    margin: 0 auto 80px;
    
}
.chefs-title::before,
.chefs-title::after {
    position: relative;
    display: block;
    position: absolute;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '' ;
}
.chefs-title::before {
    left: 0;
}
.chefs-title::after {
    right: 0;
}
.chefs-list {
    display: flex;
    gap: 40px 30px;
}
.chefs-item {
    display: flex;
    flex-basis: calc(100%/2);
    gap: 30px;
}
.chef-card {
    display: flex;
    gap: 30px;
}
.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primery-ligt),
    -16px 16px 0 2px var(--color-secondary-dark);
}
.chefs-title {
    margin: 0 auto 80px;
    max-width: 540px;
}
.chef-text p {
    margin-bottom: 24px;
}
.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats sections */
.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;

}
.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.format-card {
    height: 444px;
    padding: 24px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%,
     rgba(49, 38, 26, 0.71) 72.92%,
     var(--color-primery-dark) 100%);
    border: 1px solid rgb(168, 37, 37); 
    transition: transform 0.3s; 
}
.format-card:hover {
    transform: scale(1.05);
}
.formats-title {
    margin-bottom: 80px;
}
.format-title {
    font-size: 24px;
    font-weight: 600;
}
.format-text {
    font-size: 14px;
    font-weight: 300;
}
/* Carousel */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex-shrink: 0 ;
    cursor: pointer;
    fill: var(--color-primery-dark);
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--color-primery-dark);
}

.carousel-button:hover {
    background-color: var(--color-primery-dark);
    fill: var(--color-primery-ligt);
}
.carousel-button.next {
    transform: rotate(180deg);
}
/* Contact section */
.contact-section {
    padding-bottom: 96px;
}
.contact-container {
    display: flex;
    gap: 32px;
}
.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}
.contact-title {
    margin-bottom: 16px;
}
/* Footer */
.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../imeges/Footer-background.png');
    background-color: var(--color-primery-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer::before,
.footer::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
}
.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../imeges/decor-bread-small.png');
}
.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../imeges/decor-bread-large.png');
}
.footer-container{
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;

}
.footer-logo,
.footer-menu {
    flex-grow: 1;
}
.address-list,
.address-info {
    flex-grow: 1;
}
.addres-link {
    color: var(--color-primery-ligt);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.addres-link:hover {
    color: var(--color-brand-normal)
}
.address-icon {
    fill: var(--color-primery-ligt);
}
.address-icon:hover {
    fill: var(--color-brand-normal);
}
.addres-copiright {
    color: var(--bakery-landing-1-4, #A18268);
    font-size: 14px;
}
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s ; 
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-primery-ligt);
    border-radius: 32px;
}
.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}